@import "styles/variables";

.base {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  background-color: $white;
  background: linear-gradient(225deg, $white-bis 0%, $white 20%, $white 100%);
  box-shadow: 0 1px 2px 0 rgba($black, 0.04);
  border: 1px solid $border;
  border-radius: 0.75rem;

  padding: 0.5rem;

  height: 8rem;

}

.grid {
  stroke: $border;
}

.xAxis, .yAxis {
  text {
    font-size: 0.75rem;
    color: $text-secondary;
  }
  line {
    stroke: $border;
  }
}

// .loading {
//   // background: olive;
// }
