@import "styles/variables";

.base {
  padding: 0.75rem 0.75rem;

  color: $text;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.25rem;
}

.variantActions {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;

  padding: 0.25rem 0.5rem;
}
