@import "styles/variables.scss";

.base {
  text-align: left;
}

.listContainer {
  position: relative;
  overflow: hidden;
}

.list {
  // background-color: $white;
  border-collapse: collapse; 
  width: 100%;
}

.loadingContainer {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.loadingContainerSticky {
  position: absolute;
  top: 0.25rem;
  left: 0.25rem;
  right: 0.25rem;
  bottom: 0.25rem;

  background: rgba($black, 0.05);
  border-radius: 0.75rem;

  padding: 3rem 0;

  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-end;
}

.loadingContainerInner {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem 0;
}
