@import "@chatscope/chat-ui-kit-styles/themes/default/main";


// .cs-conversation, .cs-conversation-header, .cs-message__content, .cs-message__html-content, .cs-message-input__content-editor {
//   font-family: inherit !important;
// }

.cs-main-container {
  background-color: $white;
  border: 1px solid $border;
  border-radius: 0.75rem;
  box-shadow: 0 1px 2px 0 rgba($black, 0.04);

  > .cs-sidebar {
    &.cs-sidebar--left {
      border-color: $border;
    }
  }
}

.cs-sidebar {
  background-color: transparent;
}

.cs-overlay {
  &:before {
    background-color: rgba($black, 0.08);
  }
}

.cs-loader {
  &:before {
    border-color: $gray-lighter;
  }
  &:after {
    border-top-color: $gray-light;
  }
}

.cs-conversation {
  background-color: transparent;

  font-family: inherit !important;

  transition: all 0.2s ease-in-out;

  &:hover {
    background-color: $white-bis;
  }

  &:active, &.cs-conversation:active {
    background-color: rgba($white-ter, 0.8);
  }

  &.cs-conversation--active {
    background-color: $white-ter;

    .cs-conversation__name {
      color: $text;
      font-weight: 500;
    }
  }
}
.cs-conversation__content {
  justify-content: center;
}
.cs-conversation__name {
  color: $text;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5rem;
}
.cs-conversation__info {
  display: none;
}
.cs-conversation-header {
  background-color: $white-bis;
  border-color: $border;

  color: $text;
  font-family: inherit !important;
}
.cs-conversation-header__content {
  .cs-conversation-header__user-name {
    background-color: $white-bis;
    color: $text;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5rem;
  }
}

.cs-chat-container {
  background-color: transparent;

  .cs-message-input {
    background-color: transparent;
    border-color: $border;

    // .cs-message-input__tools {
    //   color: $primary;
    // }
  }
}

.cs-message-list {
  background-color: transparent;
}

.cs-message {
  &.cs-message--outgoing {
    &.cs-message--first {
      .cs-message__content {
        background-color: rgba($primary, 0.3);
      }
    }
  }
  &.cs-message--incoming {
    &.cs-message--first {
      .cs-message__content {
        background-color: $gray-lightest;
      }
    }
  }
}

.cs-message--outgoing {
  .cs-message__content {
    background-color: rgba($primary, 0.3);
  }
}

.cs-message--incoming {
  .cs-message__content {
    background-color: $gray-lightest;
  }
}

.cs-message__content {
  background-color: transparent;

  font-family: inherit !important;

}
.cs-message__html-content {
  background-color: transparent;

  font-family: inherit !important;
}

.cs-message-input__content-editor-wrapper, .cs-message-input--disabled .cs-message-input__content-editor-wrapper {
  background-color: $white-ter;
  border-radius: 0.5rem;
  color: $text;
}
.cs-message-input__content-editor-container {
  background-color: $white-ter;
}

.cs-message-input__content-editor {
  background-color: transparent;

  color: $text;
  font-family: inherit !important;

  transition: all 0.2s ease-in-out;
}
.cs-button--send {
  color: $primary;
  transition: all 0.2s ease-in-out;
}
