
$family-sans-serif: 'Nunito Sans', Helvetica, Arial, sans-serif;





// @import "~bulma/sass/utilities/initial-variables";
@import '~bulma/sass/utilities/_all';

/* Base: Size  */
$size-base: 1rem;
// $default-padding: $block-spacing;

/* Base: Color */
// $base-color: #EFEFF3;
// $base-color-light: #FCFCFC;

// $primary: #3F51B5;
// $primary: #203752;

/* Body */
$body-background-color: #FBFBFB;

/* Card */
// $card-shadow: none;
// $card-header-shadow: none;
// $card-header-border-bottom-color: $base-color-light;

/* Table */
// $table-cell-border: 1px solid $white-bis;

/* Table: specifics */
// $table-avatar-size: 1.5rem;
// $table-avatar-size-mobile: 25vw;

/* Form */
// $checkbox-border: 1px solid rgba($base-color, 0.5);

/* Modal card */
// $modal-card-width: 40vw;
// $modal-card-width-mobile: 90vw;

/* Notification */
// $notification-radius: $radius-small;
// $notification-padding: $default-padding * .75 $default-padding;

/* Footer */
// $footer-background-color: $white;
// $footer-padding: $default-padding * .33 $default-padding;

/* Footer: specifics */
// $footer-logo-height: $size-base * 2;

/* Progress */
// $progress-bar-background-color: $white-ter;


@import '~bulma';
@import '~buefy/src/scss/buefy';
